@import './nullstyles.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*font-family: 'Roboto', sans-serif;*/

* {
	font-family: $font-main;
	/*font-family: "Times New Roman", Times, serif;*/
}

.container {
	padding: 0 60px;

	@media (max-width: $md4) {
		padding: 0 30px;
	}
	@media (max-width: $md6) {
		padding: 0 20px;
	}
}

main {
	padding-top: 46px;
	
	@media (max-width: $md6) {
		padding-top: 40px;
	}
}

.content {
    min-height: 100vh;
    background-image: url('../img/bg_paper.jpg');
	background-repeat: repeat;
	padding: 50px 0 100px;

	@media (max-width: $md5) {
		padding: 50px 0;
	}
}

.link__back {
    display: inline-block;
    font-size: 26px;
	line-height: 38px;
    font-style: italic;
    text-decoration: underline;
    color: $bg;
    margin-top: 30px;
}