//Colors
$light: #fff;
$dark: #000;
$bg: #3c3232;

//Fonts
$font-main: "Times New Roman", Times, serif;
$font-second: 'Roboto', sans-serif;

//Media breakpoints
$md1: 1199.98px;
$md2: 1023.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 419.98px;
$md7: 374.98px;